body{
	font-family: 'Comfortaa', cursive;
}
h1{
	text-align: center;
	font-size: 50px;
}

#buttonsZone{
	background-color: pink;
}
button{
	margin: 20px;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	padding: 10px;
	border-radius: 25px;

}
form{
	text-align: center;
	margin-top: 15px;
	margin-left: 20px;
	font-size: 30px;
}


#gifInput{
	border: 2px solid;
}

#addGif{
	font-family: 'Comfortaa', cursive;
	background-color: lightyellow;
	border-radius: 25px;
}
#gifView{
	margin: 50px;
}

.gifDiv{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	width: 220px;
}

/*.gif{
	margin:15px;
}*/
